Repository biocompute-objects/GW-SMHS-BIOC6223, pull requests merged in 2019-10, with the labels that each got.

#9 docs directory created
  JSON/test.json
  docs/1_SelectPublication.md
  docs/2_GroupDiscussion.md
  docs/3_DraftBCO.md
  docs/4_FurtherResearch.md
  docs/5_ModifyBCO.md
Labels: documentation

#37 Add files via upload
  Student_BCOs/Tomas_Kanholm_BCO
  Student_BCOs/Tomas_Kanholm_BCO_000514.json
Labels: midterm: BCO Submission

#58 Upload N.Ramnarine BCO
  Student_BCOs/Nirmala_Ramnarine_BCO_000537.json
Labels: midterm: BCO Submission

#43 Add files via upload
  Student_BCOs/Christian_ZevallosDelgado_BCO_000515.json
Labels: midterm: BCO Submission

#41 LingSheng_Loh_BCO_000529
  Student_BCOs/LingSheng_Loh_BCO_000529.txt
Labels: midterm: BCO Submission

#45 Zuleima_Munoz_BCO_000513
  Student_BCOs/Zuleima_Munoz_BCO_000513.json
Labels: midterm: BCO Submission

#50 Lindsay Hopson 1st BCO draft
  Student_BCOs/Lindsay_Hopson_BCO_000527.txt
Labels: midterm: BCO Submission

#54 Upload E.Lee BCO
  Elizabeth_Lee_BCO000516
Labels: midterm: BCO Submission

#61 Juntian Wei midterm
  Student_BCOs/[WIP]Juntian Wei.json
Labels: midterm: BCO Submission

#67 Weifei Wang_BCO
  Student_BCOs/Weifei_Wang_BCO_000525.json
Labels: midterm: BCO Submission

#62 DerekCao
  Student_BCOs/DerekCao
Labels: midterm: BCO Submission

#63 EvanLittleton
  Student_BCOs/EvanLittleton
Labels: midterm: BCO Submission

#73 Upload T.Alsaeedy BCO
  Student_BCOs/Turkey_Alsaeedyhttp___BCO_000520.json
Labels: midterm: BCO Submission

#77 BCO for review-Nuerye Ainiwan
  Student_BCOs/http___biocomputeobject.org_BCO_000539 (2).json
Labels: BCO Editor

#79 Nikhita_Gogate_BCO_000541
  Student_BCOs/Nikhita_Gogate_BCO_000541.json
Labels: midterm: BCO Submission

#80 Upload N.Babirye BCO
  Student_BCOs/Najuma_Babirye_BCO_000532.json
Labels: midterm: BCO Submission

#81 Jiuge(April)'s BCO draft submission
  Student_BCOs/JiugeYang_BCO.json
Labels: midterm: BCO Submission

#74 Javid Ghaemmaghami
  Student_BCOs/JavidGhaemmaghami_BCO_000533.txt
Labels: BCO Editor

#78 Please help review my BCO_000542, I am Wei Shao, thanks!
  Student_BCOs/http___biocomputeobject.org_BCO_000542.json
Labels: BCO Editor

#84 Group#5_FurtherResearch
  Further research documents/Group5 [WIP].md
Labels: midterm: Further Research

#98 Rename Elizabeth_Lee_BCO000516 to Elizabeth_Lee_BCO_000516
  Student_BCOs/Elizabeth_Lee_BCO_000516
Labels: midterm: BCO Submission

#89 Add files via upload
  Further research documents/Group8_FurtherResearch.txt
Labels: midterm: Further Research

#90 Group5_FurtherResearch.md
  Further research documents/Group5_FurtherResearch.md
Labels: midterm: Further Research

#92 Group 6
  Further research documents/Group6_FurtherResearch.txt
Labels: midterm: Further Research

#99 Group2_FurtherResearch
  Further research documents/Group2_FurtherResearch.txt
Labels: midterm: Further Research

#100 Add files via upload
  Further research documents/Group4_FurtherResearchDocument.docx
Labels: midterm: Further Research

#120 Update ErinBonner_BCO_000531
  Student_BCOs/ErinBonner_BCO_000531
Labels: midterm: BCO editor

#145 Group1_FurtherResearchUpdated.md
  Further research documents/Group1_FurtherResearch.txt
Labels: midterm: Further Research

#144 Add files via upload
  Further research documents/Group3_Further Research.txt
Labels: midterm: Further Research

#147 midterm: Further Research
  Further research documents/Group4_FurtherResearch.txt
Labels: midterm: Further Research

#152 XiyingDing
  Student_BCOs/XiyingDing_BCO_000524.json
Labels: midterm: BCO Submission

#153 Rename Turkey_Alsaeedyhttp___BCO_000520.json to Turkey_Alsaeedy_BCO_0…
  Student_BCOs/Turkey_Alsaeedy_BCO_000520.json
Labels: midterm: BCO Submission

#177 Update for final review
  Student_BCOs/Nuerye_Ainiwan_BCO_000540
  Student_BCOs/http___biocomputeobject.org_BCO_000539 (2).json
Labels: midterm: BCO Submission

#165 Upload E.Lee BCO
  Student_BCOs/Elizabeth_Lee_BCO_000516
  Student_BCOs/Elizabeth_Lee_BCO_000548
Labels: midterm: submission

#179 Update Nuerye_Ainiwan_BCO_000540
  Student_BCOs/Nuerye_Ainiwan_BCO_000540
Labels: midterm: BCO Submission

#181 Rename http___biocomputeobject.org_BCO_000542.json to Wei_Shao_BCO_00…
  Student_BCOs/Wei_Shao_BCO_000542.json
Labels: midterm: BCO Submission

#182 Rename Yuan Gao_http___biocomputeobject.org_BCO_000544.json to Yuan_G…
  Student_BCOs/Yuan_Gao_BCO_000544.json
Labels: midterm: BCO Submission

#190 Update Christian_ZevallosDelgado_BCO_000547.json
  Student_BCOs/Christian_ZevallosDelgado_BCO_000515.json
Labels: midterm: BCO Submission, midterm: submission

#186 EvanLittleton_BCO_000546
  Student_BCOs/EvanLittleton
Labels: midterm: BCO Submission

#184 Update ErinBonner_BCO_000531
  Student_BCOs/ErinBonner_BCO_000531
Labels: midterm: BCO Submission

#193 Update Turkey_Alsaeedy_BCO_000520.json
  Student_BCOs/Turkey_Alsaeedy_BCO_000520.json
Labels: midterm: BCO Submission

#203 Update Nikhita_Gogate_BCO_000541.json
  Student_BCOs/Nikhita_Gogate_BCO_000541.json
Labels: midterm: BCO Submission

#215 Add files via upload
  Javid_Ghaemmaghami_BCO_000551.txt
Labels: midterm: BCO Submission

#195 Update and rename Nirmala_Ramnarine_BCO_000537.json to Updated_Nirmal…
  Student_BCOs/Nirmala_Ramnarine_BCO_000537.json
  Student_BCOs/Updated_Nirmala_Ramnarine_BCO_000537.json
Labels: midterm: BCO Submission

#217 Add files via upload
  Student_BCOs/Canyuan_Yang_BCO_000543.json
Labels: midterm: BCO Submission

#219 Update and rename JiugeYang_BCO.json to Jiuge_Yang_BCO000530.json
  Student_BCOs/Jiuge_Yang_BCO000530.json
Labels: midterm: BCO Submission

#225 My BCO is ready for final review before pFDA submission.
  Student_BCOs/Wei_Shao_BCO_000542.json
Labels: midterm: BCO Submission

#228 Update Lindsay_Hopson_BCO_000527.txt
  Student_BCOs/Lindsay_Hopson_BCO_000527.txt
Labels: midterm: BCO Submission

#230 Upload Elizabeth_Lee_BCO_000548
  Student_BCOs/Elizabeth_Lee_BCO_000548
Labels: midterm: BCO Submission, midterm: submission

#222 Update Tomas_Kanholm_BCO_000514.json
  Student_BCOs/Tomas_Kanholm_BCO_000514.json
Labels: midterm: BCO Submission

#240 Upload Elizabeth_Lee_BCO_000548
  Student_BCOs/Elizabeth_Lee_BCO_000548
Labels: midterm: BCO Submission, midterm: submission

#241 Update Zuleima_Munoz_BCO_000513.json
  Student_BCOs/Zuleima_Munoz_BCO_000513.json
Labels: midterm: BCO Submission

#245 Upload Elizabeth_Lee_BCO_000548
  Student_BCOs/Elizabeth_Lee_BCO_000548
Labels: midterm: BCO Submission, midterm: submission

#244 Update LingSheng_Loh_BCO_000529.txt
  Student_BCOs/LingSheng_Loh_BCO_000529.txt
Labels: midterm: BCO Submission

#248 Add files via upload
  Student_BCOs/Yuan_Gao_BCO_000552.json
Labels: midterm: BCO Submission

#183 Najuma_Babirye_BCO_000532.json
  Student_BCOs/Najuma_Babirye_BCO_000532.json
Labels: midterm: BCO Submission

#252 Update Weifei_Wang_BCO 000525.json
  Student_BCOs/Weifei_Wang_BCO 000525.json
Labels: midterm: BCO Submission
